footer {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    color: #333333;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px -4px 6px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.respostas {
    display: flex;
}

ion-icon[name="checkmark-circle-sharp"] {
    font-size: 23px;
    color: #2FBE34;
}

ion-icon[name="remove-circle-sharp"] {
    font-size: 23px;
    color: #FF922E;
}


ion-icon[name="close-circle-sharp"] {
    font-size: 23px;
    color: #FF3030;
}

.concluido {
    font-size: 18px;
    height: 171px;
}

.resultado {
    color: #333333;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

.resultado>span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-left: 10px;
}

.resultado>p {
    font-size: 18px;
    margin: 10px 0px;
}

.resultado>img {
    width: 23px;
}